<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'SENDER.SETTINGS.back_page' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'SENDER.SETTINGS.EDIT_NAME.header' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <p class="paragraph">{{'SENDER.SETTINGS.EDIT_NAME.paragraph' | translate}}</p>
    <div class="small-separator"></div>

    <p class="label">{{'SENDER.SETTINGS.EDIT_NAME.label_name' | translate}}</p>
    <input type="text" class="input" [placeholder]="'SENDER.SETTINGS.EDIT_NAME.placeholder_name' | translate" formControlName="name" maxlength="48" autofocus>
    
    <button class="btn btn-orange small-margin-top" (click)="submitForm()" [disabled]="form.get('name')?.errors">
      <span *ngIf="!spinnerDisplay">{{'SENDER.SETTINGS.btn_update' | translate}}</span>

      <div *ngIf="spinnerDisplay" class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </button>
  </form>
</ion-content>
