<div class="list-container">
  <div class="select-box select-start" ontouchstart>
    {{'SENDER.HOME.choice_message' | translate}}
    <img src="../../assets/icons/message.svg" alt="arrow-right">
  </div>
  <div class="select-box" ontouchstart>
    {{'SENDER.HOME.choice_picture' | translate}}
    <img src="../../assets/icons/picture.svg" alt="arrow-right">
  </div>
  <div class="select-box" ontouchstart>
    {{'SENDER.HOME.choice_voice_message' | translate}}
    <img src="../../assets/icons/sound.svg" alt="arrow-right">
  </div>
  <div class="select-box" ontouchstart>
    {{'SENDER.HOME.choice_video' | translate}}
    <img src="../../assets/icons/phone.svg" alt="arrow-right">
  </div>
  <div class="select-box" ontouchstart>
    {{'SENDER.HOME.choice_video_call' | translate}}
    <img src="../../assets/icons/video.svg" alt="arrow-right">
  </div>
  <div class="select-box select-end" (click)="showModal('reminder')" ontouchstart>
    {{'SENDER.HOME.choice_create_reminder' | translate}}
    <img src="../../assets/icons/clock-outline.svg" alt="arrow-right">
  </div>
</div>
