<!--<div class="choice-container">
  <div class="choice-box" ontouchstart>
    <div class="round">
      <img src="../assets/icons/message.svg" alt="icon">
    </div>
    <div>
      <p class="box-title">{{'SENDER.HOME.choice_message' | translate}}</p>
    </div>
  </div>

  <div class="choice-box" ontouchstart>
    <div class="round">
      <img src="../assets/icons/picture.svg" alt="icon">
    </div>
    <div>
      <p class="box-title">{{'SENDER.HOME.choice_picture' | translate}}</p>
    </div>
  </div>

  <div class="choice-box" ontouchstart>
    <div class="round">
      <img src="../assets/icons/sound.svg" alt="icon">
    </div>
    <div>
      <p class="box-title">{{'SENDER.HOME.choice_voice_message' | translate}}</p>
    </div>
  </div>

  <div class="choice-box" ontouchstart>
    <div class="round">
      <img src="../assets/icons/phone.svg" alt="icon">
    </div>
    <div>
      <p class="box-title">{{'SENDER.HOME.choice_video' | translate}}</p>
    </div>
  </div>

  <div class="choice-box" ontouchstart>
    <div class="round">
      <img src="../assets/icons/video.svg" alt="icon">
    </div>
    <div>
      <p class="box-title">{{'SENDER.HOME.choice_video_call' | translate}}</p>
    </div>
  </div>
</div>-->

<div class="list-container">
    <div class="select-box select-start" ontouchstart>
      {{'SENDER.HOME.choice_message' | translate}}
      <img src="../../assets/icons/message.svg" alt="arrow-right">
    </div>
    <div class="select-box" ontouchstart>
      {{'SENDER.HOME.choice_picture' | translate}}
      <img src="../../assets/icons/picture.svg" alt="arrow-right">
    </div>
    <div class="select-box" ontouchstart>
      {{'SENDER.HOME.choice_voice_message' | translate}}
      <img src="../../assets/icons/sound.svg" alt="arrow-right">
    </div>
    <div class="select-box" ontouchstart>
      {{'SENDER.HOME.choice_video' | translate}}
      <img src="../../assets/icons/phone.svg" alt="arrow-right">
    </div>
    <div class="select-box" ontouchstart>
      {{'SENDER.HOME.choice_video_call' | translate}}
      <img src="../../assets/icons/video.svg" alt="arrow-right">
    </div>
    <div class="select-box select-end" ontouchstart>
      Create a reminder
      <img src="../../assets/icons/clock-outline.svg" alt="arrow-right">
    </div>
</div>

<!--<div class="home-options-container">
  <button class="option-box" ontouchstart>
    {{'SENDER.HOME.choice_message' | translate}}
    <img src="../../assets/icons/message.svg" class="icon-right" alt="icon-option">
  </button>
  <button class="option-box" ontouchstart>
    {{'SENDER.HOME.choice_picture' | translate}}
    <img src="../../assets/icons/picture.svg" class="icon-right" alt="icon-option">
  </button>
  <button class="option-box" ontouchstart>
    {{'SENDER.HOME.choice_voice_message' | translate}}
    <img src="../../assets/icons/sound.svg" class="icon-right" alt="icon-option">
  </button>
  <button class="option-box" ontouchstart>
    {{'SENDER.HOME.choice_video' | translate}}
    <img src="../../assets/icons/phone.svg" class="icon-right" alt="icon-option">
  </button>
  <button class="option-box" ontouchstart>
    {{'SENDER.HOME.choice_video_call' | translate}}
    <img src="../../assets/icons/video.svg" class="icon-right" alt="icon-option">
  </button>
  <button class="option-box" ontouchstart>
    Create a reminder
    <img src="../../assets/icons/clock-outline.svg" class="icon-right" alt="icon-option">
  </button>
</div>-->
