<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'SENDER.SETTINGS.back_page' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'SENDER.SETTINGS.SECURITY.header' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" forceOverscroll="false">
  <p class="label margin-top">{{'SENDER.SETTINGS.PROFILE.label_password' | translate}}</p>
    <div class="input-icon">
      <input type="password" value="abcdefghi" class="input" readonly>
      <div class="icon-right" [routerLink]="['/sender/settings/edit-pwd']" router-direction="forward" ontouchstart>
        <img src="../../../../assets/icons/edit.svg" alt="edit">
      </div>
    </div>

    <div class="separator"></div>

    <p class="label">{{'SENDER.SETTINGS.PROFILE.label_security' | translate}}</p>
    <div class="list-container">
      <div class="select-box select-start" [routerLink]="['/sender/settings/edit-pwd']" router-direction="forward" ontouchstart>
        {{'SENDER.SETTINGS.PROFILE.box_edit_pwd' | translate}}
        <img src="../../assets/icons/lock.svg" alt="">
      </div>
      <div class="select-box select-end" [routerLink]="['/sender/settings/reset-pwd']" router-direction="forward" ontouchstart>
        {{'SENDER.SETTINGS.PROFILE.box_forgot_pwd' | translate}}
        <img src="../../assets/icons/small-repeat.svg" alt="logout">
      </div>
    </div>
</ion-content>



