<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'SENDER.SETTINGS.back_page' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'SENDER.SETTINGS.SECURITY.header' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="user" class="ion-padding" forceOverscroll="false">
  <p class="label">{{'SENDER.SETTINGS.SECURITY.label_email' | translate}}</p>
  <div class="input-icon">
    <input type="text" [value]="user.email" class="input" readonly>
    <div class="icon-right icon-right-text" [routerLink]="['/sender/settings/edit-mail']" router-direction="forward" ontouchstart>
      <p class="paragraph">{{'SENDER.SETTINGS.btn_edit' | translate}}</p>
    </div>
  </div>

  <p class="label small-margin-top">{{'SENDER.SETTINGS.SECURITY.label_password' | translate}}</p>
  <div class="input-icon">
    <input type="password" value="abcdefghi" class="input" readonly>
    <div class="icon-right icon-right-text" [routerLink]="['/sender/settings/edit-pwd']" router-direction="forward" ontouchstart>
      <p class="paragraph">{{'SENDER.SETTINGS.btn_edit' | translate}}</p>
    </div>
  </div>

  <div class="separator"></div>

  <p class="label">{{'SENDER.SETTINGS.SECURITY.label_other' | translate}}</p>
  <div class="select-container">
    <div class="select-box select-start" [routerLink]="['/sender/settings/forgot-pwd']" router-direction="forward" ontouchstart>
      {{'SENDER.SETTINGS.SECURITY.box_forgot_pwd' | translate}}
      <img src="../../assets/icons/question.svg">
    </div>
    <div class="select-box" (click)="openModal('logout')" ontouchstart>
      {{'SENDER.SETTINGS.SECURITY.box_logout' | translate}}
      <img src="../../assets/icons/leave.svg">
    </div>
    <div class="select-box select-end" (click)="openModal('delete-account')" vontouchstart>
      {{'SENDER.SETTINGS.SECURITY.box_delete' | translate}}
      <img src="../../assets/icons/trash.svg">
    </div>
  </div>

  <div @slideUpAnimation *ngIf="displayToast" class="absolute-bottom">
    <div class="toast toast-success">
      <img src="../../../../assets/icons/checkmark.svg">
      <p>{{ toastMessage }}</p>
    </div>
  </div>
</ion-content>



