<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'SENDER.SETTINGS.back_page' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'SENDER.SETTINGS.ABOUT.header' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" forceOverscroll="false">
  <p class="paragraph">{{'SENDER.SETTINGS.ABOUT.paragraph' | translate}}</p>

  <p class="label margin-top">{{'SENDER.SETTINGS.ABOUT.title_docs' | translate}}</p>
  <div class="list-container">
    <div class="select-box select-start" ontouchstart>
      {{'SENDER.SETTINGS.ABOUT.box_privacy' | translate}}
      <img src="../../assets/icons/external.svg">
    </div>
    <div class="select-box select-end" ontouchstart>
      {{'SENDER.SETTINGS.ABOUT.box_terms' | translate}}
      <img src="../../assets/icons/external.svg">
    </div>
  </div>

  <p class="label margin-top">{{'SENDER.SETTINGS.ABOUT.title_changelog' | translate}}</p>
  <div class="select-box" ontouchstart>
    Beta - v0.1
    <img src="../../assets/icons/external.svg">
  </div>
</ion-content>
