<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'SENDER.SETTINGS.back_page' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'SENDER.SETTINGS.PROFILE.header' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user" class="ion-padding" forceOverscroll="false">
  <p class="label">{{'SENDER.SETTINGS.PROFILE.label_profile_picture' | translate}}</p>
  <div class="profile-picture-container">
    <img (click)="openImageSelector()" [src]="user.profilePictureUrl" [class.form-error]="imageError">
    <button (click)="openImageSelector()" class="btn btn-medium btn-white">{{'SENDER.SETTINGS.PROFILE.btn_change' |
      translate}}</button>
  </div>
  <p *ngIf="imageError" class="text-error">{{'SENDER.SETTINGS.PROFILE.error_image' | translate}}<p>

  <p class="label margin-top">{{'SENDER.SETTINGS.PROFILE.label_name' | translate}}</p>
  <div class="input-icon">
    <input type="text" [value]="user.fullName" class="input" readonly>
    <div class="icon-right" [routerLink]="['/sender/settings/edit-name']" router-direction="forward" ontouchstart>
      <img src="../../../../assets/icons/edit.svg" alt="edit">
    </div>
  </div>

  <div @slideUpAnimation *ngIf="displayToast" class="absolute-bottom">
    <div class="toast toast-success">
      <img src="../../../../assets/icons/checkmark.svg" alt="">
      <p>{{ toastMessage }}</p>
    </div>
  </div>
</ion-content>
