<ion-content class="ion-padding">
  <div *ngIf="user" class="settings-header" [style]="'margin-top:' + marginTop + 'rem !important'">
    <img [src]="user.profilePictureUrl">
    <p class="paragraph">{{ user.fullName }}</p>
    <p class="subtitle">{{ user.email }}</p>
  </div>

  <div [routerLink]="['/sender/settings/account']" router-direction="forward" class="select-box" ontouchstart>
    {{'SENDER.SETTINGS.box_account' | translate}}
    <img src="../../assets/icons/arrow-right.svg" alt="arrow-right">
  </div>

  <!--<div class="list-container">
      <div class="select-box" ontouchstart>
        {{'SENDER.SETTINGS.box_overview' | translate}}
        <img src="../../assets/icons/arrow-right.svg" alt="arrow-right">
      </div>
      <div class="select-box" ontouchstart>
        {{'SENDER.SETTINGS.box_senders' | translate}}
        <img src="../../assets/icons/arrow-right.svg" alt="arrow-right">
      </div>
      <div class="select-box" ontouchstart>
        {{'SENDER.SETTINGS.box_recivers' | translate}}
        <img src="../../assets/icons/arrow-right.svg" alt="arrow-right">
      </div>
    </div>-->

  <p class="label margin-top">{{'SENDER.SETTINGS.title_appearence' | translate}}</p>
  <div class="list-container">
    <div class="select-box select-start" (click)="openModal('theme')" ontouchstart>
      {{'SENDER.SETTINGS.box_theme' | translate}}
      <p>{{'SENDER.MODALS.SELECT_THEME.theme_' + currentTheme | translate}}</p>
    </div>
    <div class="select-box select-end" (click)="openModal('lang')" ontouchstart>
      {{'SENDER.SETTINGS.box_lang' | translate}}
      <p>{{'SENDER.MODALS.SELECT_LANGUAGE.lang_' + currentLang | translate}}</p>
    </div>
  </div>

  <p class="label margin-top">{{'SENDER.SETTINGS.title_other' | translate}}</p>
  <div class="list-container">
    <div [routerLink]="['/sender/settings/about']" router-direction="forward" class="select-box select-start" ontouchstart>
      {{'SENDER.SETTINGS.box_about' | translate}}
        <img src="../../assets/icons/home.svg" alt="arrow-right">
    </div>
    <div [routerLink]="['/sender/settings/help']" router-direction="forward" class="select-box select-end" ontouchstart>
      {{'SENDER.SETTINGS.box_help' | translate}}
        <img src="../../assets/icons/question.svg" alt="arrow-right">
    </div>
  </div>
</ion-content>
