<!--<div *ngIf="modalTheme || modalLanguage" class="global-modal-container">
  <div @fadeAnimation class="background-gray" (click)="closeModalChoice(true)" [class.fadeOut]="doFadeOutAnimation"></div>
  <div @slideUpAnimation class="modal-container" [style]="'bottom:' + paddingBottom + '!important'" [class.fadeOut]="doFadeOutAnimation">
    <app-select-theme (closeValue)="closeModalChoice($event)" (currentTheme)="setNewTheme($event)" *ngIf="modalTheme"></app-select-theme>
    <app-select-language (closeValue)="closeModalChoice($event)" (currentLang)="setNewLang($event)" *ngIf="modalLanguage"></app-select-language>
  </div>
</div>-->

<ion-content class="ion-padding">
  <div class="settings-header">
    <img [src]="user.profilePictureUrl">
    <p class="paragraph">{{ user.fullName }}</p>
    <p class="subtitle">{{ user.email }}</p>
  </div>

  <ion-nav-link router-direction="forward" [component]="componentAccount">
    <div class="select-box" ontouchstart>
      {{'SENDER.SETTINGS.box_account' | translate}}
      <img src="../../assets/icons/arrow-right.svg" alt="arrow-right">
    </div>
  </ion-nav-link>

  <p class="label margin-top">{{'SENDER.SETTINGS.title_subscription' | translate}}</p>
  <div class="select-box" ontouchstart>
    {{'SENDER.SETTINGS.box_overview' | translate}}
    <img src="../../assets/icons/arrow-right.svg" alt="arrow-right">
  </div>

  <!--<div class="list-container">
      <div class="select-box" ontouchstart>
        {{'SENDER.SETTINGS.box_overview' | translate}}
        <img src="../../assets/icons/arrow-right.svg" alt="arrow-right">
      </div>
      <div class="select-box" ontouchstart>
        {{'SENDER.SETTINGS.box_senders' | translate}}
        <img src="../../assets/icons/arrow-right.svg" alt="arrow-right">
      </div>
      <div class="select-box" ontouchstart>
        {{'SENDER.SETTINGS.box_recivers' | translate}}
        <img src="../../assets/icons/arrow-right.svg" alt="arrow-right">
      </div>
    </div>-->

  <p class="label margin-top">{{'SENDER.SETTINGS.title_appearence' | translate}}</p>
  <div class="list-container">
    <div class="select-box select-start" ontouchstart> <!-- Open modal -->
      {{'SENDER.SETTINGS.box_theme' | translate}}
      <p>{{'SENDER.MODALS.SELECT_THEME.theme_' + currentTheme | translate}}</p>
    </div>
    <div class="select-box select-end" ontouchstart> <!-- open modal -->
      {{'SENDER.SETTINGS.box_lang' | translate}}
      <p>{{'SENDER.MODALS.SELECT_LANGUAGE.lang_' + currentLang | translate}}</p>
    </div>
  </div>

  <p class="label margin-top">{{'SENDER.SETTINGS.title_other' | translate}}</p>
  <div class="list-container">
    <ion-nav-link router-direction="forward" [component]="componentAbout">
      <div class="select-box select-start" ontouchstart>
        {{'SENDER.SETTINGS.box_about' | translate}}
        <img src="../../assets/icons/home.svg" alt="arrow-right">
      </div>
    </ion-nav-link>
    <ion-nav-link router-direction="forward" [component]="componentHelp">
      <div class="select-box select-end" ontouchstart>
        {{'SENDER.SETTINGS.box_help' | translate}}
        <img src="../../assets/icons/question.svg" alt="arrow-right">
      </div>
    </ion-nav-link>
  </div>
</ion-content>
