<p class="label-margin-big">{{'SENDER.MODALS.SELECT_LANGUAGE.title' | translate}}</p>
<div class="select-container select-icon-normal">
  <div class="select-box select-start" (click)="selectLang('fr')" [class.select-box-selected]="lang == 'fr'" ontouchstart>
    {{'SENDER.MODALS.SELECT_LANGUAGE.lang_fr' | translate}}
    <img src="../../assets/icons/flag-fr.png" >
  </div>
  <div class="select-box" (click)="selectLang('de')" [class.select-box-selected]="lang == 'de'" ontouchstart>
    {{'SENDER.MODALS.SELECT_LANGUAGE.lang_de' | translate}}
    <img src="../../assets/icons/flag-de.png" >
  </div>
  <div class="select-box" (click)="selectLang('it')" [class.select-box-selected]="lang == 'it'" ontouchstart>
    {{'SENDER.MODALS.SELECT_LANGUAGE.lang_it' | translate}}
    <img src="../../assets/icons/flag-it.png" >
  </div>
  <div class="select-box" (click)="selectLang('en')" [class.select-box-selected]="lang == 'en'" ontouchstart>
    {{'SENDER.MODALS.SELECT_LANGUAGE.lang_en' | translate}}
    <img src="../../assets/icons/flag-en.png" >
  </div>
  <div class="select-box" (click)="selectLang('es')" [class.select-box-selected]="lang == 'es'" ontouchstart>
    {{'SENDER.MODALS.SELECT_LANGUAGE.lang_es' | translate}}
    <img src="../../assets/icons/flag-es.png" >
  </div>
  <div class="select-box select-end" (click)="selectLang('pt')" [class.select-box-selected]="lang == 'pt'" ontouchstart>
    {{'SENDER.MODALS.SELECT_LANGUAGE.lang_pt' | translate}}
    <img src="../../assets/icons/flag-po.png" >
  </div>
</div>
