<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'SENDER.SETTINGS.back_page' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'SENDER.SETTINGS.ACCOUNT.header' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user" class="ion-padding">
  <p class="label">{{'SENDER.SETTINGS.ACCOUNT.label_profile_picture' | translate}}</p>
  <div class="profile-picture-container">
    <img (click)="openImageSelector()" [src]="user.profilePictureUrl" [class.form-error]="imageError">
    <button (click)="openImageSelector()" class="btn btn-medium btn-white">{{'SENDER.SETTINGS.ACCOUNT.btn_change' |
      translate}}</button>
  </div>
  <p *ngIf="imageError" class="text-error">{{'SENDER.SETTINGS.ACCOUNT.error_image' | translate}}<p>

  <p class="label margin-top">{{'SENDER.SETTINGS.ACCOUNT.label_name' | translate}}</p>
  <div class="input-icon">
    <input type="text" [value]="user.fullName" class="input" readonly>
    <div class="icon-right" [routerLink]="['/sender/settings/edit-name']" router-direction="forward" ontouchstart>
      <img src="../../../../assets/icons/edit.svg" alt="edit">
    </div>
  </div>

  <p class="label margin-top">{{'SENDER.SETTINGS.ACCOUNT.label_email' | translate}}</p>
  <div class="input-icon">
    <input type="text" [value]="user.email" class="input" readonly>
    <div class="icon-right" [routerLink]="['/sender/settings/edit-mail']" router-direction="forward" ontouchstart>
      <img src="../../../../assets/icons/edit.svg" alt="edit">
    </div>
  </div>

  <p class="label margin-top">{{'SENDER.SETTINGS.ACCOUNT.label_password' | translate}}</p>
  <div class="input-icon">
    <input type="password" value="abcdefghi" class="input" readonly>
    <div class="icon-right" [routerLink]="['/sender/settings/edit-pwd']" router-direction="forward" ontouchstart>
      <img src="../../../../assets/icons/edit.svg" alt="edit">
    </div>
  </div>

  <div @slideUpAnimation *ngIf="displayToast" class="absolute-bottom ion-padding">
    <div class="toast">
      <img src="../../../../assets/icons/checkmark.svg" alt="">
      <p>{{ toastMessage }}</p>
    </div>
  </div>
</ion-content>
