<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'SENDER.SETTINGS.back_page' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'SENDER.SETTINGS.ACCOUNT.header' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="label">{{'SENDER.SETTINGS.ACCOUNT.label_profile_picture' | translate}}</p>
  <div class="profile-picture-container">
    <img (click)="openImageSelector()" [src]="user.profilePictureUrl" [class.form-error]="imageError">
    <button (click)="openImageSelector()" class="btn btn-medium btn-white">{{'SENDER.SETTINGS.ACCOUNT.btn_add' |
      translate}}</button>
  </div>
  <p *ngIf="imageError" class="text-error">{{'SENDER.SETTINGS.ACCOUNT.error_image' | translate}}<p>

  <p class="label margin-top">{{'SENDER.SETTINGS.ACCOUNT.label_name' | translate}}</p>
  <div class="input-icon">
    <input type="text" [value]="user.fullName" class="input" readonly>
    <ion-nav-link router-direction="forward" [component]="componentEditName">
      <div class="icon-right" ontouchstart>
        <img src="../../../../assets/icons/edit.svg" alt="edit">
      </div>
    </ion-nav-link>
  </div>

  <p class="label margin-top">{{'SENDER.SETTINGS.ACCOUNT.label_email' | translate}}</p>
  <div class="input-icon">
    <input type="text" [value]="user.email" class="input" readonly>
    <ion-nav-link router-direction="forward" [component]="componentEditEmail">
      <div class="icon-right" ontouchstart>
        <img src="../../../../assets/icons/edit.svg" alt="edit">
      </div>
    </ion-nav-link>
  </div>

  <p class="label margin-top">{{'SENDER.SETTINGS.ACCOUNT.label_password' | translate}}</p>
  <div class="input-icon">
    <input type="password" value="abcdefghi" class="input" readonly>
    <ion-nav-link router-direction="forward" [component]="componentEditPwd">
      <div class="icon-right" ontouchstart>
        <img src="../../../../assets/icons/edit.svg" alt="edit">
      </div>
    </ion-nav-link>
  </div>

  <div class="separator"></div>

  <div class="list-container">
    <div class="select-box select-start" (click)="openModal('logout')" ontouchstart>
      {{'SENDER.SETTINGS.ACCOUNT.box_logout' | translate}}
      <img src="../../assets/icons/leave.svg" alt="logout">
    </div>
    <div class="select-box select-end" (click)="openModal('delete-account')" vontouchstart>
      {{'SENDER.SETTINGS.ACCOUNT.box_delete' | translate}}
      <img src="../../assets/icons/trash.svg" alt="delete-account">
    </div>
  </div>
</ion-content>
