/* ---------------------------------------------------
  RESUABLE CONTAINERS
----------------------------------------------------- */

.margin-top {
  margin-top: 1.875rem;
}

.small-margin-top {
  margin-top: 1.125rem;
}

.very-small-margin-bottom {
  margin-bottom: 0.6rem;
}

.margin-bottom {
  margin-bottom: 1.875rem;
}

/* ---------------------------------------------------
  FEED PAGE
----------------------------------------------------- */

.overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer-component {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.4375rem 1rem 0.3125rem 1rem;
  gap: 1rem;

  ion-textarea {
    --padding-top: 0.5rem;
    --padding-bottom: 0.5rem;
    --padding-start: 0.8rem;
    --padding-end: 0.8rem;
    --color: var(--light-gray);
    border: 1px solid var(--border-gray);
    background-color: var(--background-white);
    border-radius: var(--radius-base);
    max-height: 6.25rem;
    overflow: scroll;
    transition: width 2s;
    font-size: 0.875rem;
  }

  .send-icon {
    background-color: var(--orange);
    height: 2.25rem;
    width: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3.4375rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    img {
      height: 1.3rem !important;
      margin-left: 0.1875rem;
      filter: var(--icon-white);

      &:active {
        transform: unset !important;
        -webkit-transform: unset !important;
        -moz-transform: unset !important;
      }
    }

    &:active {
      opacity: 0.9;
      transform: scale(0.96);
      -webkit-transform: scale(0.96);
      -moz-transform: scale(0.96);
    }
  }

  img {
    height: 1.5625rem;
    filter: var(--icon-orange);
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:active {
      opacity: 0.7;
      transform: scale(0.96);
      -webkit-transform: scale(0.96);
      -moz-transform: scale(0.96);
    }
  }
}

ion-footer ion-toolbar {
  border-top: 1px solid var(--border-gray);
}

.header-component {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9375rem;

  .header-start div {
    display: flex;
    gap: 0.625rem;
    align-items: center;

    img {
      height: 2.6875rem;
      border-radius: 2.6875rem;
    }
  }

  .header-start {
    display: flex;
    gap: 0.9375rem;
    align-items: center;
  }

  .header-end {
    display: flex;
    gap: 1.5625rem;

    img {
      filter: var(--icon-orange);
    }
  }

  img {
    height: 1.5625rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:active {
      opacity: 0.7;
      transform: scale(0.96);
      -webkit-transform: scale(0.96);
      -moz-transform: scale(0.96);
    }
  }
}

ion-toolbar.md .header-start div {
  gap: 1.875rem !important;
}

ion-header.feed-header ion-back-button {
  &::part(icon) {
    font-size: 1.375rem !important;
  }
}

ion-header.feed-header ion-toolbar {
  --padding-top: 0.4375rem !important;
  --padding-bottom: 0.4375rem !important;
  --min-height: fit-content;
}

.md ion-back-button.no-text {
  &::part(native) {
    margin-left: -1.125rem !important;
  }
}

/* ---------------------------------------------------
  PROFILE PAGE
----------------------------------------------------- */

.profile-picture-container {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  align-items: center;
  margin-top: 1rem;

  img {
    height: 5.625rem;
    width: 5.625rem;
    border-radius: var(--radius-base);
    cursor: pointer;
  }
}

/* ---------------------------------------------------
  SETTINGS PAGE
----------------------------------------------------- */

.settings-header {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  position: relative;
  width: 100%;
  color: var(--light-black);
  word-break: break-all;
  text-align: center;
  margin-top: 1rem;

  img {
    height: 5.625rem;
    width: 5.625rem;
    border-radius: var(--radius-base);
  }

  .paragraph {
    margin-top: 0.9375rem;
    font-size: 1.1875rem;
    font-weight: 500;
    color: var(--black);
  }

  .subtitle {
    font-size: 0.9375rem !important;
  }

  button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

/* ---------------------------------------------------
  PROFILE PICTURE
----------------------------------------------------- */

image-cropper {
  --cropper-outline-color: #00000071;
  --cropper-overlay-color: #2d2d2d;

  max-height: 31.25rem;
  padding: 0px !important;
}

image-cropper .ngx-ic-source-image {
  border-radius: var(--radius-small);
}

.ngx-ic-overlay {
  height: 100% !important;
  width: 100% !important;
}

/* ---------------------------------------------------
  REMINDER PAGE
----------------------------------------------------- */

.reminder-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  gap: 1rem;
}

.box {
  width: 100%;
  border: 0.0938rem solid var(--border-gray);
  border-radius: var(--radius-small);
  padding: 1.25rem;
  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--light-black);
  box-shadow: var(--shadow-small);
  background-color: var(--white);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.box-full {
  height: 100% !important;
}

.boxs-bounce .box:active {
  transform: scale(0.96);
  -webkit-transform: scale(0.96);
  -moz-transform: scale(0.96);
  border: 0.0938rem solid var(--border-gray-hover);
}

.all-boxs {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow: scroll;
}

.box-reminder {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  padding-bottom: 1rem !important;

  p {
    margin-bottom: 1rem;
  }

  .separator {
    margin: 0.9375rem 0rem 0.9375rem 0rem !important;
  }

  .box-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: var(--gray) !important;

    div {
      display: flex;
      align-items: center;
      gap: 0.625rem;

      img {
        height: 1.125rem;
        filter: var(--icon-black);
      }
    }

    img {
      height: 1.2rem;
      filter: var(--icon-orange);
    }
  }
}

.box-notification {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* ---------------------------------------------------
  SECURITY PAGE
----------------------------------------------------- */

.pass-infos {
  display: flex;
  text-align: left;
  margin-top: 0.625rem !important;
  margin: 0;
  font-size: 0.8438rem;
  font-weight: 400;
  color: var(--gray);

  div {
    margin-right: 0.8125rem;
    display: flex;
    align-items: center;
  }

  div:last-child {
    margin-right: 0px !important;
    width: 100% !important;
  }

  p {
    margin: 0px !important;
  }

  img {
    margin-right: 0.375rem;
    height: 1.25rem;
    transition: all 0.5s;
    filter: var(--icon-gray);
  }

  .img-sucess {
    filter: var(--icon-green) !important;
  }
}

/* ---------------------------------------------------
  MENU PAGE
----------------------------------------------------- */

.menu-page-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  gap: 1rem;

  .box-full {
    padding: 0px !important;
    position: relative;

    button {
      position: absolute;
      right: 1.25rem;
      bottom: 1.25rem;
    }
  }

  .menu-top-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;

    .all-boxs {
      height: 100%;
      overflow: scroll;
    }
  }
}

.profile-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.9375rem;

  // &:active {
  //   transform: scale(0.96);
  //   -webkit-transform: scale(0.96);
  //   -moz-transform: scale(0.96);
  //   border: 0.0938rem solid var(--border-gray-hover);
  // }

  .profile-box-left {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }

  .round {
    height: 3.125rem;
    min-width: 3.125rem;
    background-color: var(--background-orange);
    border-radius: var(--radius-base);
    //border: 1px solid var(--border-orange);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 1.5625rem;
      filter: var(--icon-black);
    }
  }

  .profile-round {
    height: 1.25rem;
    width: 1.25rem;
    border: 0.0938rem solid var(--border-gray);
    border-radius: var(--radius-full);
    float: right;
  }
}

.tchat-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.9375rem;
  padding: 1.25rem;
  height: fit-content !important;
  border-bottom: 0.0938rem solid var(--border-gray);
  transition: all 0.2s ease-in-out;

  &:active {
    opacity: 0.7;
  }

  &:first-child:active {
    border-radius: var(--radius-base) var(--radius-base) 0px 0px;
  }

  div {
    width: 100%;
  }

  .tchat-box-title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    height: 3.62rem;
    border-radius: var(--radius-small);
    filter: unset !important;
  }

  .box-sub-bottom {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    width: 97%;
  }

  .box-subtitle img {
    margin-bottom: -0.1875rem;
    height: 1rem;
    filter: var(--icon-orange) !important;
    margin-right: 0.1875rem;
  }

  .box-title {
    font-size: 0.9rem;
  }

}

.tchat-box-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--background-gray);
  width: 100%;
  text-align: center;
  padding: 0.4375rem 0rem 0.4375rem 0px;
  font-size: 0.8125rem;
  color: var(--gray);
  border-bottom: 0.0938rem solid var(--border-gray);
}