<ion-tabs>
  <div class="navbar-container">
      <div class="icons-container" [style]="'margin-bottom:' + marginBottom + 'rem !important'">

        <ion-tab-button tab="feed">
          <img *ngIf="route != 'feed'" src="../../assets/icons/inbox-outline.svg" alt="" ontouchstart>
          <img *ngIf="route == 'feed'" src="../../assets/icons/inbox-outline.svg" class="icon-solid" alt="" ontouchstart>
        </ion-tab-button>
        <ion-tab-button tab="reminders">
          <img *ngIf="route != 'reminders'" src="../../assets/icons/clock-outline.svg" alt="" ontouchstart>
          <img *ngIf="route == 'reminders'" src="../../assets/icons/clock-outline.svg" class="icon-solid" alt="" ontouchstart>
        </ion-tab-button>
        <div (click)="openModal('home')" class="home-icon" ontouchstart>
          <img src="../../assets/icons/plus.svg" alt="">
        </div>
        <ion-tab-button tab="subscription">
          <img *ngIf="route != 'subscription'" src="../../assets/icons/map.svg" alt="" ontouchstart>
          <img *ngIf="route == 'subscription'" src="../../assets/icons/map.svg" class="icon-solid" alt="" ontouchstart>
        </ion-tab-button>
        <ion-tab-button tab="settings/home">
          <img *ngIf="route != 'settings'" src="../../assets/icons/cog-outline.svg" alt="" ontouchstart>
          <img *ngIf="route == 'settings'" src="../../assets/icons/cog-outline.svg" class="icon-solid" alt="" ontouchstart>
        </ion-tab-button>
      </div>
  </div>
</ion-tabs>