<ion-tabs>
  <div class="navbar-container">
      <div class="icons-container" [style]="'margin-bottom:' + marginBottom + 'rem !important'">
        <ion-tab-button tab="feed">
          <div>
            <img *ngIf="route != 'feed'" src="../../assets/icons/inbox-outline.svg" alt="" ontouchstart>
            <img *ngIf="route == 'feed'" src="../../assets/icons/inbox-solid.svg" alt="" ontouchstart>
          </div>
          <ion-label>{{'SENDER.FEED.header' | translate}}</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="reminders">
          <div>
            <img *ngIf="route != 'reminders'" src="../../assets/icons/clock-outline.svg" alt="" ontouchstart>
            <img *ngIf="route == 'reminders'" src="../../assets/icons/clock-solid.svg" alt="" ontouchstart>
          </div>
          <ion-label>{{'SENDER.REMINDERS.header' | translate}}</ion-label>
        </ion-tab-button>
        <div (click)="openModal('home')" class="home-icon" ontouchstart>
          <img src="../../assets/icons/plus.svg" alt="">
        </div>
        <ion-tab-button tab="subscription">
          <div>
            <img *ngIf="route != 'subscription'" src="../../assets/icons/map-outline.svg" alt="" ontouchstart>
            <img *ngIf="route == 'subscription'" src="../../assets/icons/map-solid.svg" alt="" ontouchstart>
          </div>
          <ion-label>{{'SENDER.SUBSCRIPTION.header' | translate}}</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="settings/home">
          <div>
            <img *ngIf="route != 'settings'" src="../../assets/icons/cog-outline.svg" alt="" ontouchstart>
            <img *ngIf="route == 'settings'" src="../../assets/icons/cog-solid.svg" alt="" ontouchstart>
          </div>
          <ion-label>{{'SENDER.SETTINGS.header' | translate}}</ion-label>
        </ion-tab-button>
      </div>
  </div>
</ion-tabs>

<div *ngIf="networkError || apiError" class="overlay-box"></div>
