/* ---------------------------------------------------
  GLOBAL CONTAINERS
----------------------------------------------------- */

.global-content-container {
  height: 100%;
  overflow: hidden;
  position:relative;
}

.sender-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 400px) {
  ion-tab-button {
    padding: 1rem 0.7rem 0rem 0.7rem !important;
  }
}

.navbar-container {
  width: 100%;
  background-color: var(--background-gray);
  border-top: 0.0938rem solid var(--border-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;

  .icons-container {
    display: flex;
    max-width: 95%;
    margin: 0 auto;
    gap: 0.9375rem;
    margin: 0 auto;
    justify-content: space-evenly;

    img {
      height: 1.875rem;
      filter: var(--icon-black);
    }

    .icon-solid {
      filter: var(--icon-orange) !important;
    }
  }
}

ion-tab-button {
  padding: 1rem 1em 0rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  --padding-start: 0px !important;
  --padding-end: 0px !important;

  &:active {
    transform: scale(0.86);
    -webkit-transform: scale(0.86);
    -moz-transform: scale(0.86);
  }
}

.home-icon {
  padding: 0.5rem 0.75rem;
  border-radius: var(--radius-base);
  background-color: var(--background-orange);
  border: 0.0938rem solid var(--border-orange);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 0rem 0.625rem 0rem 0.625rem;

  img {
    height: 1.5625rem !important;
    filter: var(--icon-black) !important;
  }

  &:active {
    transform: scale(0.86);
    background-color: var(--background-orange-hover);
    -webkit-transform: scale(0.86);
    -moz-transform: scale(0.86);
  }
}

.upload-pdp-container {
  img {
    max-height: 6.25rem;
  }
}

.image-pdp {
  max-height: 37.5rem;
}

/* ---------------------------------------------------
  RESUABLE CONTAINERS
----------------------------------------------------- */

.choice-container {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.content-container {
  padding: 1.5625rem 1.4375rem 1.5625rem 1.4375rem;
  overflow: scroll;
  height: 100%;
  position: relative;
  background-color: var(--background-white) !important;
}

.margin-top {
  margin-top: 1.875rem;
}

.small-margin-top {
  margin-top: 0.9375rem;
}

.margin-bottom {
  margin-bottom: 1.875rem;
}

/* ---------------------------------------------------
  ACCOUNT PAGE
----------------------------------------------------- */

.profile-picture-container {
  display: flex;
  flex-direction: row;
  gap: 1.5625rem;
  align-items: center;

  img {
    height: 5.625rem;
    width: 5.625rem;
    border-radius: var(--radius-base);
    cursor: pointer;
  }
}

/* ---------------------------------------------------
  SETTINGS PAGE
----------------------------------------------------- */

.settings-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  position: relative;
  width: 100%;
  border: 0.0938rem solid var(--border-gray);
  border-radius: var(--radius-small);
  padding: 1.25rem;
  color: var(--light-black);
  box-shadow: var(--shadow-small);
  background-color: var(--white);

  img {
    height: 5.625rem;
    width: 5.625rem;
    border-radius: var(--radius-base);
  }

  .paragraph {
    margin-top: 0.9375rem;
    font-size: 1.1875rem;
    font-weight: 500;
    color: var(--black);
  }

  .subtitle {
    font-size: 0.9375rem !important;
  }

  button {
    position: absolute;
    top: 16px;
    right: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* ---------------------------------------------------
  PROFILE PICTURE
----------------------------------------------------- */

image-cropper {
  --cropper-outline-color: #00000071;
  --cropper-overlay-color: #2d2d2d;

  max-height: 500px;
  padding: 0px !important;
}

image-cropper .ngx-ic-source-image {
  border-radius: var(--radius-small);
}

.ngx-ic-overlay {
  height: 100% !important;
  width: 100% !important;
}

/* ---------------------------------------------------
  BOX REMINDER
----------------------------------------------------- */

.box {
  width: 100%;
  border: 0.0938rem solid var(--border-gray);
  border-radius: var(--radius-small);
  padding: 1.25rem;
  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--light-black);
  box-shadow: var(--shadow-small);
  background-color: var(--white);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:active {
    transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    border: 0.0938rem solid var(--border-gray-hover);
  }
}

.all-boxs-reminders {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow: scroll;
}

.box-reminder {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;

  .separator {
    margin: 15px 0px 15px 0px !important;
  }

  .box-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: var(--gray) !important;
  }
}
