<div *ngIf="user">
  <p class="subtitle small-subtitle">{{'SENDER.MENU.subtitle' | translate}}</p>
  <h1 class="small-title">{{'SENDER.MENU.title' | translate}}</h1>

  <div class="separator"></div>

  <div class="box">

  </div>

  <div class="absolute-bottom ion-padding-top ion-padding-start ion-padding-end" [style]="'bottom:' + marginBottom + 'rem !important'">
    <div class="list-container">
      <div [routerLink]="['/sender/reminders']" router-direction="forward" class="select-box select-start" ontouchstart>
        {{'SENDER.MENU.box_reminders' | translate}}
        <img src="../../assets/icons/clock-outline.svg">
      </div>
    
      <div [routerLink]="['/sender/subscription']" router-direction="forward" class="select-box select-end" ontouchstart>
        {{'SENDER.MENU.box_subscription' | translate}}
        <img src="../../assets/icons/map-outline.svg">
      </div>
    </div>

    <div class="separator"></div>

    <div class="choice-box">
      <div class="choice-box-left">
        <!-- <img class="round" [src]="user.profilePictureUrl"> -->
        <div>
          <p class="box-title">{{ user.fullName }}</p>
          <p class="box-subtitle">{{ user.email }}</p>
        </div>
      </div>
      <button class="btn btn-white btn-small" [routerLink]="['/sender/settings/home']" router-direction="forward" ontouchstart>
        <img src="../../assets/icons/cog-outline.svg">
      </button>
    </div>
  </div>
</div>