<ion-header>
  <ion-toolbar>
    <ion-title>Send a message</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="user" class="ion-padding-top ion-padding-start ion-padding-end" forceOverscroll="false">
  <div class="menu-page-container">
    <div class="menu-top-container">
      <!-- <p class="subtitle small-subtitle" [style]="'margin-top:' + marginTop + 'rem !important'">{{'SENDER.MENU.subtitle' | translate}}</p>
      <h1 class="small-title">{{'SENDER.MENU.title' | translate}}</h1>
      <div class="separator"></div> -->

      <div class="all-boxs boxs-bounce">
        <div [routerLink]="['/sender/feed/1']" router-direction="forward" class="box tchat-box">
          <img class="round" src="../../assets/icons/pdp.png">
          <div>
            <div class="tchat-box-title">
              <p class="box-title">Grandma 1</p>
              <p class="box-subtitle">12:34</p>
            </div>
            <p class="box-subtitle box-sub-bottom">
              <img src="../../assets/icons/double-check.svg">
              <!-- <img src="../../assets/icons/check.svg"> -->
              Lorem, ipsum dolor sit amet
            </p>
          </div>
        </div>
        <div [routerLink]="['/sender/feed/2']" router-direction="forward" class="box tchat-box">
          <img class="round" src="../../assets/icons/pdp.png">
          <div>
            <div class="tchat-box-title">
              <p class="box-title">Grandma 2</p>
              <p class="box-subtitle">Yesterday</p>
            </div>
            <p class="box-subtitle box-sub-bottom">
              <img src="../../assets/icons/double-check.svg">
              <!-- <img src="../../assets/icons/check.svg"> -->
              Lorem ipsum dolor sit amet consectetur adipisicing elit
            </p>
          </div>
        </div>
      </div>
    </div>

    <div [style]="'margin-bottom:' + marginBottom + 'rem !important'">
      <div class="list-container margin-top">
        <div [routerLink]="['/sender/reminders']" router-direction="forward" class="select-box select-start"
          ontouchstart>
          {{'SENDER.MENU.box_reminders' | translate}}
          <img src="../../assets/icons/clock-outline.svg">
        </div>

        <div [routerLink]="['/sender/subscription']" router-direction="forward" class="select-box select-end"
          ontouchstart>
          {{'SENDER.MENU.box_subscription' | translate}}
          <img src="../../assets/icons/credit-card.svg">
        </div>
      </div>

      <div class="separator"></div>

      <div class="profile-box">
        <div class="profile-box-left">
          <!-- <img class="round" [src]="user.profilePictureUrl"> -->
          <div>
            <p class="box-title">{{ user.fullName }}</p>
            <p class="box-subtitle">{{ user.email }}</p>
          </div>
        </div>
        <button class="btn btn-white btn-small" [routerLink]="['/sender/settings/home']" router-direction="forward"
          ontouchstart>
          <img src="../../assets/icons/cog-outline.svg">
        </button>
      </div>
    </div>
  </div>
</ion-content>
