<ion-header *ngIf="allLoaded" @fadeAnimation>
  <ion-toolbar>
    <ion-title>{{'SENDER.MENU.header' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="allLoaded" @fadeAnimation class="menu-content ion-padding-top ion-padding-start ion-padding-end" forceOverscroll="false">
  <div class="full-page-container gap-normal">
    <div class="menu-header">
      <div class="input-icon">
        <input type="text" [(ngModel)]="searchValue" [placeholder]="'SENDER.MENU.input_search' | translate" (focus)="displaySearch()" (focusout)="hideSearch()" class="input input-icon-left">
        <div class="icon-left">
          <img src="../../assets/icons/search.svg">
        </div>
        <div class="icon-right" *ngIf="showSearch && searchValue != ''">
          <img src="../../assets/icons/close.svg">
        </div>
      </div>
      <button class="btn btn-white btn-small" (click)="openCreateConv()">
        <img src="../../assets/icons/pencil-square.svg">
      </button>
    </div>
    <div *ngIf="!showSearch" class="list-container list-height-full">
      <div *ngIf="!APIError" class="list-box-header">{{'SENDER.MENU.conversation_seniors' | translate}}</div>

      <div *ngFor="let conversation of recieverConversations" routerLink="/sender/tchat" [state]="{ conversation: conversation }" router-direction="forward" class="tchat-box" ontouchstart>
        <img [src]="conversation.users[0].profilePictureUrl">
        <div class="tchat-text">
          <div class="tchat-box-title">
            <p class="box-title">{{ conversation.users[0].firstname + ' ' + conversation.users[0].lastname }}</p>
            <p class="box-subtitle">{{ conversation.messages[0].createdAt | date: 'h:mm' }}</p> <!-- class : box-subtitle-notif-->
            <!--<div class="box-notification">1</div>-->
          </div>
          <p class="box-subtitle box-sub-bottom">
            <!--<img src="../../assets/icons/image-filled.svg">
            <img src="../../assets/icons/video-filled.svg">
            <img src="../../assets/icons/micro-filled.svg">
            <img src="../../assets/icons/phone-filled.svg">
            <img src="../../assets/icons/check.svg">
            <img src="../../assets/icons/double-check.svg"> -->
            <span *ngIf="conversation.messages[0]">{{ conversation.messages[0].text }}</span>
          </p>
        </div>
      </div>

      <div *ngIf="!APIError" class="list-box-header">{{'SENDER.MENU.conversation_contacts' | translate}}</div>
      
      <div *ngFor="let conversation of contactConversations" routerLink="/sender/tchat" [state]="{ conversation: conversation }" router-direction="forward" class="tchat-box" ontouchstart>
        <img [src]="conversation.groupPictureUrl || conversation.users[0].profilePictureUrl">
        <div class="tchat-text">
          <div class="tchat-box-title">
            <p class="box-title">{{ conversation.groupName || (conversation.users[0].firstname + ' ' + conversation.users[0].lastname) }}</p>
            <p *ngIf="conversation.messages[0]" class="box-subtitle" [class.box-subtitle-notif]="conversation.newMessage">{{ conversation.messages[0].createdAt | date: 'h:mm' }}</p>
            <div *ngIf="conversation.newMessage" class="box-notification">{{ conversation.newMessageCount }}</div>
          </div>
          <p class="box-subtitle box-sub-bottom">
            <!--<img src="../../assets/icons/image-filled.svg">
            <img src="../../assets/icons/video-filled.svg">
            <img src="../../assets/icons/micro-filled.svg">
            <img src="../../assets/icons/phone-filled.svg">
            <img src="../../assets/icons/check.svg">
            <img src="../../assets/icons/double-check.svg"> -->
            <span *ngIf="conversation.messages[0]">{{ conversation.messages[0].text }}</span>
          </p>
        </div>
      </div>

      <div @slideUpAnimation *ngIf="networkError" class="absolute-bottom">
        <div class="toast toast-error">
          <img src="../../../../assets/icons/network.svg">
          <p>{{'SENDER.TCHAT.toast_network' | translate}}</p>
        </div>
      </div>

      <div @slideUpAnimation *ngIf="APIError" class="absolute-bottom">
        <div class="toast toast-error">
          <img src="../../../../assets/icons/warning.svg">
          <p>{{'SENDER.TCHAT.toast_api' | translate}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="!showSearch" [style]="'margin-bottom:' + marginBottom + 'rem !important'">
      <div class="box profile-box">
        <div class="profile-box-left">
          <div>
            <p class="box-title">{{ user.firstname }} {{ user.lastname }}</p>
            <p class="box-subtitle">{{ user.email }}</p>
          </div>
        </div>
        <button class="btn btn-white btn-small" [routerLink]="['/sender/settings/home']" router-direction="forward"
          ontouchstart>
          <img src="../../assets/icons/cog-outline.svg">
        </button>
      </div>
    </div>

    <div *ngIf="showSearch" class="list-container list-height-full" [style]="'margin-bottom:' + marginBottom + 'rem !important'">
      
    </div>
  </div>
</ion-content>

<div *ngIf="networkError || APIError" class="overlay-box"></div>