/* ---------------------------------------------------
  FONTS
----------------------------------------------------- */

@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins-Regular.woff2") format("woff2"),
    url("../assets/font/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins-Medium.woff2") format("woff2"),
    url("../assets/font/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins-SemiBold.woff2") format("woff2"),
    url("../assets/font/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins-Bold.woff2") format("woff2"), url("../assets/font/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ---------------------------------------------------
  COLORS
----------------------------------------------------- */

body {
  --black: #2c2b32;
  --light-black: #575757;
  --white: #ffffff;
  --orange: #fd7324;
  --orange-hover: #e6671d;
  --gray: #9d9d9d;
  --dark-gray: #9e9e9e;
  --red: #e45b4c;

  --background-white: #fefefe;
  --background-gray: #fcfcfc;

  --background-orange: #ff590012;
  --background-orange-hover: #ff59002d;

  --background-green: #48ff0018;
  --border-green: #83b171;

  --background-red: #ffe9e8;
  --border-red: #e45b4c;

  --border-orange: #ea915ecb;
  --border-gray: #e8eaee;
  --border-gray-hover: #cdcdcd;

  --shadow-small: 0rem 0.125rem 0.0625rem 0rem rgba(0, 0, 0, 0.025);

  --radius-base: 1.125rem;
  --radius-small: 0.9375rem;
  --radius-very-small: 0.5rem;
  --radius-full: 1.5625rem;

  --height-base: 3.125rem;
  --height-big: 3.75rem;

  --icon-black: invert(35%) sepia(0%) saturate(0%) hue-rotate(258deg) brightness(96%) contrast(96%);
  --icon-white: invert(100%) sepia(1%) saturate(1754%) hue-rotate(171deg) brightness(85%) contrast(91%);
  --icon-orange: invert(71%) sepia(49%) saturate(6846%) hue-rotate(345deg) brightness(103%) contrast(98%);
  --icon-green: invert(61%) sepia(27%) saturate(487%) hue-rotate(58deg) brightness(100%) contrast(92%);
  --icon-red: invert(34%) sepia(94%) saturate(1575%) hue-rotate(339deg) brightness(111%) contrast(79%);
}

body.dark-theme {
  --black: #f9fbfd;
  --light-black: #c1c1c1;
  --white: #1c1c1c;
  --red: #e74c3c;
  --gray: #949494;

  --background-white: #171717;
  --background-gray: #1c1c1c;

  --background-red: #301715;

  --background-green: #48ff0007;
  --border-green: #58774c;

  --border-gray: #262626;
  --border-gray-hover: #696969aa;

  --icon-black: invert(98%) sepia(0%) saturate(25%) hue-rotate(188deg) brightness(82%) contrast(84%);;
  --icon-white: invert(35%) sepia(0%) saturate(0%) hue-rotate(258deg) brightness(96%) contrast(96%);
  --icon-green: invert(43%) sepia(14%) saturate(1047%) hue-rotate(59deg) brightness(93%) contrast(83%);
}

/* ---------------------------------------------------
  TYPOGRAPHY
----------------------------------------------------- */

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 2.1875rem;
  font-size: 2.5rem;
  color: var(--black);
}

.small-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--black);
}

.subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  font-size: 1rem;
  color: var(--gray);
}

.paragraph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  color: var(--light-black);
}

.label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9375rem;
  color: var(--black);
  margin-bottom: 0.625rem;
}

.label-margin-big {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9375rem;
  color: var(--black);
  margin-bottom: 1.125rem;
}

.box-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: var(--black);
}

.box-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8438rem;
  color: var(--gray);
}

.modal-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1875rem;
  color: var(--black);
}

.modal-paragraph {
  margin-bottom: 1.2rem;
  margin-top: 0.425rem;
}

.text-error {
  text-align: left;
  margin-top: 0.5rem !important;
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--red);
}

/* ---------------------------------------------------
  INPUTS
----------------------------------------------------- */

.input {
  width: 100%;
  height: var(--height-base);
  border: 0.0938rem solid var(--border-gray);
  outline: none;
  border-radius: var(--radius-base);
  padding: 0px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 0.9375rem;
  font-weight: 500;
  color: var(--light-black);
  box-shadow: var(--shadow-small);
  background-color: var(--white);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.2s ease-in-out;

  &:focus,
  &:hover {
    border-color: var(--border-gray-hover);
  }

  &:read-only {
    background-color: var(--background-gray) !important;
    color: var(--dark-gray) !important;
  }

  &:read-only:hover {
    border-color: var(--border-gray);
  }

  ::selection {
    background-color: default !important;
  }
}

input::-webkit-input-placeholder {
  color: var(--border-gray-hover);
  opacity: 0.8;
}

input::-moz-placeholder {
  color: var(--border-gray-hover);
  opacity: 0.8;
}

input::-ms-placeholder {
  color: var(--border-gray-hover);
  opacity: 0.8;
}

input::placeholder {
  color: var(--border-gray-hover);
  opacity: 1;
}

input[type="text"],
input[type="password"],
input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// input[type='date'] {
//   width: 100%;
//   -webkit-appearance: textfield;
//   -moz-appearance: textfield;
// }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: 0.0625rem solid var(--border-gray);
  -webkit-text-fill-color: var(--light-black);
  -webkit-box-shadow: 0 0 0 62.5rem rgb(255, 255, 255) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.input-icon {
  position: relative;

  .icon-right {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0.375rem;
    top: 0.375rem;
    height: 2.375rem;
    width: 2.375rem;
    border: 0.0938rem solid var(--border-gray);
    background-color: var(--white);
    border-radius: 0.8125rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      border-color: var(--border-gray-hover);
    }

    &:active {
      transform: scale(0.96);
      -webkit-transform: scale(0.96);
      -moz-transform: scale(0.96);
      border: 0.0938rem solid var(--border-gray-hover);
    }
  }

  .input {
    padding-right: 3.875rem;
  }

  img {
    height: 1.25rem;
    filter: var(--icon-black);
  }
}

.form-error {
  border: 0.0938rem solid var(--red);

  &:hover,
  &:focus:hover,
  &:focus {
    border: 0.0938rem solid var(--red);
  }
}

/* ---------------------------------------------------
  BUTTONS
----------------------------------------------------- */

.btn {
  height: var(--height-base);
  width: 100%;
  border-radius: var(--radius-full);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  opacity: 1;
  box-shadow: var(--shadow-small);
  transition: all 0.2s ease-in-out;

  &:active {
    transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
  }

  &:disabled {
    opacity: 0.7 !important;
  }

  &:disabled:active {
    transform: unset !important;
    -webkit-transform: unset !important;
    -moz-transform: unset !important;
  }
}

.btn-orange {
  background-color: var(--orange);
  border: 0rem;
  color: white;

  img {
    filter: var(--icon-white);
  }

  &:active {
    background-color: var(--orange-hover);
  }
}

.btn-light {
  background-color: var(--background-orange);
  border: 0.0938rem solid var(--border-orange);
  color: var(--black);

  img {
    filter: var(--icon-black);
  }

  &:active {
    background-color: var(--background-orange-hover);
  }
}

.btn-white {
  background-color: var(--white);
  border: 0.0938rem solid var(--border-gray);
  color: var(--black);

  img {
    filter: var(--icon-black);
  }

  &:active {
    border-color: var(--border-gray-hover);
  }
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin-left: 0.625rem;
    height: 1.125rem;
  }
}

.btn-small {
  width: 3.125rem !important;
  border-radius: var(--radius-small);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 1.4375rem;
  }
}

.btn-medium {
  width: max-content !important;
  height: 2.8125rem;
  padding: 0rem 1.125rem;
  border-radius: 0.75rem !important;
  font-size: 0.875rem;
  line-height: 2.8125rem;
}

/* ---------------------------------------------------
  SELECT
----------------------------------------------------- */

.select-box {
  width: 100%;
  height: var(--height-base);
  border: 0.0938rem solid var(--border-gray);
  outline: none;
  border-radius: var(--radius-small);
  padding: 0px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--light-black);
  box-shadow: var(--shadow-small);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:active {
    transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    border: 0.0938rem solid var(--border-gray-hover);
  }

  img {
    height: 1.25rem;
    filter: var(--icon-orange);
    transition: all 0.2s ease-in-out;
  }

  p {
    color: var(--gray);
  }
}

.select-box-selected {
  border: 0.0938rem solid var(--border-orange) !important;

  &:active {
    transform: unset !important;
    -webkit-transform: unset !important;
    -moz-transform: unset !important;
  }
}

.select-icon-normal img {
  filter: unset !important;
  border-radius: 0.1875rem;
  height: 1.125rem;
}

/* ---------------------------------------------------
  LIST
----------------------------------------------------- */

.list-container {
  .select-box {
    border-radius: 0rem;
    border-top: 0rem;

    &:active {
      border: 0.0938rem solid var(--border-gray-hover) !important;
    }
  }

  .select-start:first-child {
    border-top: 0.0938rem solid var(--border-gray);
    border-radius: var(--radius-base) var(--radius-base) 0rem 0rem;
  }

  .select-end:last-child {
    border-radius: 0rem 0rem var(--radius-base) var(--radius-base);
  }

  .icon-box {
    padding-right: 0.375rem !important;
    cursor: default;
    transition: all 0.2s ease-in-out;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.375rem;
      width: 2.375rem;
      border: 0.0938rem solid var(--border-gray);
      border-radius: 0.8125rem;
      cursor: pointer;

      &:active {
        transform: scale(0.96);
        -webkit-transform: scale(0.96);
        -moz-transform: scale(0.96);
        border: 0.0938rem solid var(--border-gray-hover);
      }
    }

    &:active {
      transform: unset !important;
      -webkit-transform: unset !important;
      -moz-transform: unset !important;
    }
  }
}

/* ---------------------------------------------------
  FAQ
----------------------------------------------------- */

.faq-container {
  .select-box {
    height: fit-content;
    padding: 1.25rem !important;

    p {
      width: 90%;
      color: var(--light-black);
    }
  }

  .faq-answer {
    p {
      width: 100%;
      color: var(--gray);
    }

    &:active {
      transform: unset !important;
      -webkit-transform: unset !important;
      -moz-transform: unset !important;
    }
  }
}

/* ---------------------------------------------------
  OPTION BOX
----------------------------------------------------- */

.option-box {
  width: 100%;
  height: var(--height-big);
  border: 0.0938rem solid var(--border-gray);
  border-right: 0rem;
  outline: none;
  border-radius: var(--radius-base);
  font-size: 0.9375rem;
  font-weight: 500;
  color: var(--light-black);
  box-shadow: var(--shadow-small);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:active {
    transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    border: 0.0938rem solid var(--border-gray-hover) !important;
  }

  img {
    height: 1.25rem;
    filter: var(--icon-black);
  }

  .icon-left {
    margin-right: 0.625rem;
  }

  .icon-right {
    margin-left: 0.625rem;
  }
}

.option-selected {
  background-color: var(--background-orange);
  border: 0.0938rem solid var(--border-orange);

  &:active {
    background-color: var(--background-orange-hover) !important;
    border: 0.0938rem solid var(--border-orange) !important;
  }
}

/* ---------------------------------------------------
  TAB BOX
----------------------------------------------------- */

.tab-container {
  display: flex;
  width: 100%;
  overflow: scroll;

  .option-box {
    border-radius: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .option-box:first-child {
    border-radius: var(--radius-base) 0rem 0rem var(--radius-base);
  }

  .option-box:last-child {
    border-radius: 0rem var(--radius-base) var(--radius-base) 0rem;
    border-right: 0.0938rem solid var(--border-gray);
  }
}

/* ---------------------------------------------------
  CHOICE BOX
----------------------------------------------------- */

.choice-box {
  width: 100%;
  border: 0.0938rem solid var(--border-gray);
  outline: none;
  border-radius: var(--radius-base);
  padding: 1.125rem;
  box-shadow: var(--shadow-small);
  background-color: var(--white);
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:active {
    transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    border: 0.0938rem solid var(--border-gray-hover);
  }

  .round {
    height: 3.125rem;
    min-width: 3.125rem;
    background-color: var(--background-orange);
    border-radius: var(--radius-base);
    border: 1px solid var(--border-orange);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 1.5625rem;
      filter: var(--icon-black);
    }
  }

  .choice-round {
    height: 1.25rem;
    width: 1.25rem;
    border: 0.0938rem solid var(--border-gray);
    border-radius: var(--radius-full);
    float: right;
  }

  .choice-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.choice-box-selected {
  border: 0.0938rem solid var(--border-orange);

  .choice-round {
    border-color: var(--orange);
    padding: 0.0938rem;

    div {
      background-color: var(--orange);
      height: 100%;
      width: 100%;
      border-radius: var(--radius-full);
    }
  }

  &:active {
    background-color: var(--background-orange-hover) !important;
    border-color: var(--border-orange) !important;
  }
}


/* ---------------------------------------------------
  TOAST
----------------------------------------------------- */

.toast {
  background-color: var(--background-green);
  color: var(--light-black);
  border-radius: var(--radius-base);
  border: 0.0938rem solid var(--border-green);
  bottom: 0px !important;
  font-size: 0.9375rem;
  display: flex;
  padding: 1rem;
  align-items: center;
  padding: 0.9rem;
  gap: 0.9rem;
  border-radius: var(--radius-base) var(--radius-base) 0px 0px;

  img {
    height: 1.5625rem;
  }
}

.toast-success {
  border: 0.0938rem solid var(--border-green);
  background-color: var(--background-green);

  img {
    filter: var(--icon-green);
  }
}

.toast-error {
  border: 0.0938rem solid var(--border-red);
  background-color: var(--background-red);

  img {
    filter: var(--icon-red);
  }
}
