<p class="label-margin-big">{{'SENDER.MODALS.SELECT_THEME.title' | translate}}</p>
<div class="select-container">
  <div class="select-box select-start" (click)="selectTheme('light')" [class.select-box-selected]="theme == 'light'" ontouchstart>
    {{'SENDER.MODALS.SELECT_THEME.theme_light' | translate}}
    <img src="../../assets/icons/sun.svg">
  </div>
  <div class="select-box" (click)="selectTheme('dark')" [class.select-box-selected]="theme == 'dark'" ontouchstart>
    {{'SENDER.MODALS.SELECT_THEME.theme_dark' | translate}}
    <img src="../../assets/icons/moon.svg">
  </div>
  <div class="select-box select-end" (click)="selectTheme('auto')" [class.select-box-selected]="theme == 'auto'" ontouchstart>
    {{'SENDER.MODALS.SELECT_THEME.theme_auto' | translate}}
    <img src="../../assets/icons/rotate.svg">
  </div>
</div>