<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'SENDER.SETTINGS.back_page' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'SENDER.SETTINGS.EDIT_PWD.header' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <div>
      <p class="paragraph">{{'SENDER.SETTINGS.EDIT_PWD.paragraph' | translate}}</p>
    </div>

    <button class="btn btn-orange">Update</button>
  </form>
</ion-content>