<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'SENDER.SETTINGS.back_page' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'SENDER.SETTINGS.EDIT_PWD.header' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" forceOverscroll="false">
  <form *ngIf="step == 1" [formGroup]="form1">
    <p class="paragraph">{{'SENDER.SETTINGS.EDIT_PWD.paragraph1' | translate}}</p>

    <p class="label small-margin-top">{{'SENDER.SETTINGS.EDIT_PWD.label_current_password' | translate}}</p>
    <div class="input-icon very-small-margin-bottom">
      <input type="{{ passwordShow1 ? 'text' : 'password' }}" [class.form-error]="(submittedForm && form1.get('currentPassword')?.errors) || errorPwd" class="input" [placeholder]="'SENDER.SETTINGS.EDIT_PWD.placeholder_current_password' | translate"
      formControlName="currentPassword" (keydown.space)="$event.preventDefault();" appAutoFocusDirective autocomplete>
      <div (click)="togglePasswordShow1()" class="icon-right">
        <img *ngIf="passwordShow1" src="../../assets/icons/eye.svg">
        <img *ngIf="!passwordShow1" src="../../assets/icons/eye2.svg">
      </div>
    </div>
    <p *ngIf="errorPwd" class="text-error">{{'SENDER.SETTINGS.EDIT_PWD.password_incorrect' | translate}}</p>

    <p class="label small-margin-top">{{'SENDER.SETTINGS.EDIT_PWD.label_new_password' | translate}}</p>
    <div class="input-icon" (focusin)="passInfos = true">
      <input (keydown.space)="$event.preventDefault();" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="passwordValue" (ngModelChange)="onPasswordChange($event)" class="input"
      type="{{ passwordShow2 ? 'text' : 'password' }}" [placeholder]="'SENDER.SETTINGS.EDIT_PWD.placeholder_new_password' | translate"
      maxlength="48" autocomplete>

      <div (click)="togglePasswordShow2()" class="icon-right">
        <img *ngIf="passwordShow2" src="../../assets/icons/eye.svg">
        <img *ngIf="!passwordShow2" src="../../assets/icons/eye2.svg">
      </div>
    </div>
    <div *ngIf="passInfos" class="pass-infos box small-margin-top">
      <div><img [class.img-sucess]="passHasLettersAndUppercase" src="../../assets/icons/check.svg">
        <p>AaBbCc</p>
      </div>
      <div><img [class.img-sucess]="passHasNumberOrSpecial" src="../../assets/icons/check.svg">
        <p>123&$#</p>
      </div>
      <div><img [class.img-sucess]="passHasMin8Char" src="../../assets/icons/check.svg">
        <p>{{'SENDER.SETTINGS.EDIT_PWD.passchar_validation' | translate}}</p>
      </div>
    </div>

    <button class="btn btn-orange btn-icon small-margin-top" (click)="submitForm1()" [disabled]="(form1.get('currentPassword')?.errors != null) || !passIsDone">
      <span *ngIf="!spinnerDisplay">{{'SENDER.SETTINGS.btn_continue' | translate}}</span>
      <img *ngIf="!spinnerDisplay" src="../../assets/icons/arrow-right.svg">

      <div *ngIf="spinnerDisplay" class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </button>
  </form>

  <form @slideRightAnimation *ngIf="step == 2" [formGroup]="form2">
    <p class="paragraph">{{'SENDER.SETTINGS.EDIT_PWD.paragraph2' | translate}}</p>

    <p class="label small-margin-top">{{'SENDER.SETTINGS.EDIT_PWD.label_code' | translate}}</p>

    <input (keypress)="numberOnly($event)" (keydown.space)="$event.preventDefault();"
      [class.form-error]="(submittedForm && form2.get('code')?.errors) || errorCode" inputmode="numeric"
      formControlName="code" class="input" type="text"
      [placeholder]="'SENDER.SETTINGS.EDIT_PWD.placeholder_code' | translate" maxlength="5">
    <p *ngIf="errorCode" class="text-error">{{'SENDER.SETTINGS.EDIT_PWD.code_invalid' | translate}}</p>

    <button class="btn btn-orange small-margin-top" (click)="submitForm2()" [disabled]="form2.get('code')?.errors">
      <span *ngIf="!spinnerDisplay">{{'SENDER.SETTINGS.btn_update' | translate}}</span>

      <div *ngIf="spinnerDisplay" class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </button>
  </form>
</ion-content>
