<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'SENDER.SETTINGS.back_page' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'SENDER.SETTINGS.NOTIFICATIONS.header' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" forceOverscroll="false">
  <p class="label">{{'SENDER.SETTINGS.NOTIFICATIONS.label_push' | translate}}</p>
  <div class="all-boxs boxs-bounce">
    <div class="box box-notification" ontouchstart>
      <p>{{'SENDER.SETTINGS.NOTIFICATIONS.push_1' | translate}}</p>
      <label class="checkboxContainer">
        <input type="checkbox"/>
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="box box-notification" ontouchstart>
      <p>{{'SENDER.SETTINGS.NOTIFICATIONS.push_2' | translate}}</p>
      <label class="checkboxContainer">
        <input type="checkbox"/>
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
  <p class="label margin-top">{{'SENDER.SETTINGS.NOTIFICATIONS.label_email' | translate}}</p>
  <div class="all-boxs boxs-bounce">
    <div class="box box-notification" ontouchstart>
      <p>{{'SENDER.SETTINGS.NOTIFICATIONS.email_1' | translate}}</p>
      <label class="checkboxContainer">
        <input type="checkbox"/>
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
</ion-content>
