<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'SENDER.SETTINGS.back_page' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'SENDER.SETTINGS.NOTIFICATIONS.header' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" forceOverscroll="false">
  <p class="label">Push notifications</p>
  <div class="all-boxs">
    <div class="box box-notification" ontouchstart>
      <p>Etre notifié quand un ainé répond à votre message.</p>
      <label class="checkboxContainer">
        <input type="checkbox"/>
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="box box-notification" ontouchstart>
      <p>Etre notifié quand un ainé lis / écoute votre message.</p>
      <label class="checkboxContainer">
        <input type="checkbox"/>
        <span class="checkmark"></span>
      </label>
    </div>
  </div>

  <p class="label margin-top">Email notifications</p>
  <div class="all-boxs">
    <div class="box box-notification" ontouchstart>
      <p>Recevoir un mail lors de grands changements dans l'application.</p>
      <label class="checkboxContainer">
        <input type="checkbox"/>
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="box box-notification" ontouchstart>
      <p>Recevoir nos newsletter, mise a jour, changements dans l'application.</p>
      <label class="checkboxContainer">
        <input type="checkbox"/>
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="box box-notification" ontouchstart>
      <p>Recevoir un email lors de grandes mises à jour ou changements dans l'application.</p>
      <label class="checkboxContainer">
        <input type="checkbox"/>
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
</ion-content>
