// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
body {
  --ion-background-color:var(--background-white);
  --ion-toolbar-background: var(--background-gray)
}


body.dark-theme {
  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: var(--background-white);
    --ion-text-color: #ffffff;
    --ion-item-background: #000000;
  }

  .ios ion-modal {
    --ion-background-color: var(--background-white);
    --ion-toolbar-background: var(--background-gray);
    --ion-toolbar-border-color: var(--border-gray);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: var(--background-white);
    --ion-text-color: #ffffff;
    --ion-border-color: var(--border-gray);
    --ion-item-background: #1e1e1e;
    --ion-toolbar-background: var(--background-gray);
    --ion-tab-bar-background: var(--background-gray);
  }
}

ion-header {
  border: none;
}

ion-toolbar {
  --color: var(--black);
  --border-width: 0.0938rem;
  --border-style: solid;
  --border-color: var(--border-gray);
  --padding-end: 0.9375rem;
  --padding-start: 0.9375rem;
}

.title-default {
  color: var(--black);
  font-weight: 500;
  font-size: 1.0625rem;
}

ion-back-button {
  --color: var(--black);
  --icon-font-size: 18px;
  --icon-margin-end: 2px;

  font-weight: 400;
  font-size: 1rem;
  text-transform: capitalize !important;
}