<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'SENDER.SETTINGS.back_page' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'SENDER.REMINDERS.header' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false">
  <div class="reminder-container">
    <div class="tab-container ion-padding-top ion-padding-start ion-padding-end">
      <button class="option-box option-selected" ontouchstart>Marcel</button>
      <button class="option-box" ontouchstart>Paul</button>
      <button class="option-box" ontouchstart>Jack</button>
    </div>
    <div class="all-boxs boxs-bounce ion-padding-bottom ion-padding-start ion-padding-end">
      <div class="box box-reminder" ontouchstart>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac nunc.</p>
        <div class="box-details">
          <div>
            <img src="../../assets/icons/small-repeat.svg">
            <span>Monday, 5:10 AM</span>
          </div>
          <img src="../../assets/icons/arrow-right.svg">
        </div>
      </div>
      <div class="box box-reminder" ontouchstart>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac nunc.</p>
        <div class="box-details">
          <div>
            <img src="../../assets/icons/small-repeat.svg">
            <span>Monday, 5:10 AM</span>
          </div>
          <img src="../../assets/icons/arrow-right.svg">
        </div>
      </div>
      <div class="box box-reminder" ontouchstart>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac nunc.</p>
        <div class="box-details">
          <div>
            <img src="../../assets/icons/small-repeat.svg">
            <span>Monday, 5:10 AM</span>
          </div>
          <img src="../../assets/icons/arrow-right.svg">
        </div>
      </div>
      <div class="box box-reminder" ontouchstart>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac nunc.</p>
        <div class="box-details">
          <div>
            <img src="../../assets/icons/small-repeat.svg">
            <span>Monday, 5:10 AM</span>
          </div>
          <img src="../../assets/icons/arrow-right.svg">
        </div>
      </div>
      <div class="box box-reminder" ontouchstart>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac nunc.</p>
        <div class="box-details">
          <div>
            <img src="../../assets/icons/small-repeat.svg">
            <span>Monday, 5:10 AM</span>
          </div>
          <img src="../../assets/icons/arrow-right.svg">
        </div>
      </div>
      <div class="box box-reminder" ontouchstart>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac nunc.</p>
        <div class="box-details">
          <div>
            <img src="../../assets/icons/small-repeat.svg">
            <span>Monday, 5:10 AM</span>
          </div>
          <img src="../../assets/icons/arrow-right.svg">
        </div>
      </div>
    </div>
  </div>
</ion-content>
