<ion-header *ngIf="conversation" class="tchat-header">
  <ion-toolbar>
    <div class="header-component">
      <div class="header-start">
        <div>
          <ion-buttons slot="start">
            <ion-back-button class="no-text" text=""></ion-back-button>
          </ion-buttons>
          <div class="header-profile">
            <img [src]="conversation.groupPictureUrl || conversation.users[0].profilePictureUrl">
          </div>
        </div>
        <p>{{ conversation.groupName || (conversation.users[0].firstname + ' ' + conversation.users[0].lastname) }}</p>
      </div>
      <div class="header-end">
        <img src="../../../assets/icons/video.svg">
        <img src="../../../assets/icons/phone.svg">
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" forceOverscroll="false">

  <div class="box" *ngFor="let message of messages">
    <p class="box-title">{{ message.text }}</p>
    <p class="box-subtitle">{{ message.user?.firstname }} | {{ message.createdAt | date: "short" }}</p>
  </div>

 <!--<div @slideUpAnimation *ngIf="networkError" class="absolute-bottom">
    <div class="toast toast-error">
      <img src="../../../../assets/icons/network.svg">
      <p>{{'SENDER.TCHAT.toast_network' | translate}}</p>
    </div>
  </div>

  <div @slideUpAnimation *ngIf="APIError" class="absolute-bottom">
    <div class="toast toast-error">
      <img src="../../../../assets/icons/warning.svg">
      <p>{{'SENDER.TCHAT.toast_api' | translate}}</p>
    </div>
  </div>-->
</ion-content>
<ion-footer keyboardFlying class="ion-no-border">
  <ion-toolbar>
    <div class="footer-component">
      <ion-textarea autoGrow="true" rows="1" maxlength="250" [(ngModel)]="inputMessage" (ngModelChange)="onMessageChange($event)"></ion-textarea>
      <img *ngIf="!showIcons" src="../../../assets/icons/camera.svg">
      <img *ngIf="!showIcons" src="../../../assets/icons/microphone.svg">
      <div *ngIf="showIcons" (click)="submitMessage()" class="send-icon">
        <img  src="../../../assets/icons/paper-airplane.svg">
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
