<ion-menu contentId="main-content" side="end">
  <ion-content class="ion-padding">
    <app-home-settings></app-home-settings>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    Tap the button in the toolbar to open the menu.

    <button (click)="login()" class="btn btn-white">Login AAAAAA</button>
  </ion-content>
</div>

<div @slideUpAnimation *ngIf="networkError" class="absolute-bottom">
  <div class="toast toast-error">
    <img src="../../../../assets/icons/network.svg" alt="">
    <p>{{'SENDER.FEED.toast_network' | translate}}</p>
  </div>
</div>

<div @slideUpAnimation *ngIf="APIError" class="absolute-bottom">
  <div class="toast toast-error">
    <img src="../../../../assets/icons/warning.svg" alt="">
    <p>{{'SENDER.FEED.toast_api' | translate}}</p>
  </div>
</div>