<ion-header class="feed-header">
  <ion-toolbar>
    <div class="header-component">
      <div class="header-start">
        <div>
          <ion-buttons slot="start">
            <ion-back-button class="no-text" text=""></ion-back-button>
          </ion-buttons>
          <div class="header-profile">
            <img src="../../assets/icons/pdp.png">
          </div>
        </div>
        <p>Grandma 1</p>
      </div>
      <div class="header-end">
        <img src="../../../assets/icons/video.svg">
        <img src="../../../assets/icons/phone.svg">
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" forceOverscroll="false">
  <div class="box">
    <p>test</p>
  </div>
  <div class="box">
    <p>test</p>
  </div>
  <div class="box">
    <p>test</p>
  </div>
  <div class="box">
    <p>test</p>
  </div>
  <div class="box">
    <p>test</p>
  </div>
  <div class="box">
    <p>test</p>
  </div>
  <div class="box">
    <p>test</p>
  </div>
  <div class="box">
    <p>test</p>
  </div>
  <div class="box">
    <p>test</p>
  </div>
  <div class="box">
    <p>test</p>
  </div>

  <button (click)="login()" class="btn btn-white">Login AAAAAA</button>

  <div @slideUpAnimation *ngIf="networkError" class="absolute-bottom">
    <div class="toast toast-error">
      <img src="../../../../assets/icons/network.svg">
      <p>{{'SENDER.FEED.toast_network' | translate}}</p>
    </div>
  </div>

  <div @slideUpAnimation *ngIf="APIError" class="absolute-bottom">
    <div class="toast toast-error">
      <img src="../../../../assets/icons/warning.svg">
      <p>{{'SENDER.FEED.toast_api' | translate}}</p>
    </div>
  </div>
</ion-content>
<ion-footer keyboardFlying>
  <ion-toolbar>
    <div class="footer-component">
      <ion-textarea autoGrow="true" rows="1" maxlength="250" [(ngModel)]="message" (ngModelChange)="onMessageChange($event)"></ion-textarea>
      <img *ngIf="!showIcons" src="../../../assets/icons/camera.svg">
      <img *ngIf="!showIcons" src="../../../assets/icons/microphone.svg">
      <div *ngIf="showIcons" class="send-icon">
        <img  src="../../../assets/icons/paper-airplane.svg">
      </div>
    </div>
  </ion-toolbar>
</ion-footer>