<div class="ion-page" id="main-content">
  <ion-content class="ion-padding">
    <div class="box">
      <p>test</p>
    </div>
    <div class="box">
      <p>test</p>
    </div>
    <div class="box">
      <p>test</p>
    </div>
    <div class="box">
      <p>test</p>
    </div>
    <div class="box">
      <p>test</p>
    </div>
    <div class="box">
      <p>test</p>
    </div>
    <div class="box">
      <p>test</p>
    </div>
    <div class="box">
      <p>test</p>
    </div>
    <div class="box">
      <p>test</p>
    </div>
    <div class="box">
      <p>test</p>
    </div>

    <button (click)="login()" class="btn btn-white">Login AAAAAA</button>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <input type="text" class="input" placeholder="Write something here">
    </ion-toolbar>
  </ion-footer>
</div>

<div @slideUpAnimation *ngIf="networkError" class="absolute-bottom">
  <div class="toast toast-error">
    <img src="../../../../assets/icons/network.svg" alt="">
    <p>{{'SENDER.FEED.toast_network' | translate}}</p>
  </div>
</div>

<div @slideUpAnimation *ngIf="APIError" class="absolute-bottom">
  <div class="toast toast-error">
    <img src="../../../../assets/icons/warning.svg" alt="">
    <p>{{'SENDER.FEED.toast_api' | translate}}</p>
  </div>
</div>